#shapes_hbox {
    -fx-background-color: lightgray;
}

#controls_vbox {
    -fx-background-color: gray;
}

.button {
    -fx-border-radius: 5px;
    -fx-border-color: grey;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60%;
    -fx-background-position: center;
}

#line_button {
    -fx-background-image: url("icons/line_icon.png");
}

#rectangle_button {
    -fx-background-image: url("icons/rectangle_icon.png");
}

#ellipse_button {
    -fx-background-image: url("icons/ellipse_icon.png");
}

#polygon_button {
    -fx-background-image: url("icons/polygon_icon.png");
}

#polyline_button {
    -fx-background-image: url("icons/polyline_icon.png");
}

#menu {
    -fx-background-image: url("icons/options_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50%;
    -fx-background-position: center;
}

.menu-item {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10%;
    -fx-background-position: left;
}

#undo_menu_item {
    -fx-background-image: url("icons/undo_icon.png");
}

#redo_menu_item {
    -fx-background-image: url("icons/redo_icon.png");
}

#load_menu_item {
    -fx-background-image: url("icons/load_icon.png");
}

#save_menu_item {
    -fx-background-image: url("icons/save_icon.png");
}

#plugin_menu_item {
    -fx-background-image: url("icons/plugin_icon.png");
}